.portfolio {
  width: 50%;

  @media (max-width: 569px) {
    width: 100%;
  }

  &__wrapper {
    padding: 15%;

    @media (max-width: 569px) {
      padding: 15% 10%;
    }
  }

  &__head {
    text-align: right;

    p, a {
      font-size: 20px;
      line-height: 25px;
      color: #0062FF;
    }

    p {
      margin-bottom: 10px;
      text-decoration: line-through;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}