.menu {
  position: relative;

  @media (min-width: 767px) {
    display: none;
  }

  &__button {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    cursor: pointer;
    background: #0062FF;

    &.open {
      transform: rotate(90deg);
    }
  }

  &__list {
    position: absolute;
    top: 45px;
    left: 12px;
    max-width: 120px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px 15px 20px;
    list-style: none;
    background: #1d1d1da8;

    li {
      display: inline-block;
      margin-top: 5px;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}